USE [master]
GO
/****** Object:  Database [ProductBookingWebAPI]    Script Date: 9/10/2018 2:15:32 PM ******/
CREATE DATABASE [ProductBookingWebAPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductBookingWebAPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ProductBookingWebAPI.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProductBookingWebAPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ProductBookingWebAPI_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductBookingWebAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductBookingWebAPI]
GO
/****** Object:  Table [dbo].[ActivityProduct]    Script Date: 9/10/2018 2:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ActivityProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [varchar](30) NULL,
	[FromTime] [varchar](15) NOT NULL,
	[ToTime] [varchar](15) NOT NULL,
	[Price] [int] NOT NULL,
	[Place] [varchar](50) NULL,
	[isBooked] [bit] NULL DEFAULT ((0)),
	[isSaved] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AirProduct]    Script Date: 9/10/2018 2:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AirProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FlightCompany] [varchar](35) NOT NULL,
	[DepartureDate] [datetime] NOT NULL,
	[ArrivalDate] [datetime] NOT NULL,
	[FromPlace] [varchar](50) NULL,
	[ToPlace] [varchar](50) NULL,
	[Price] [int] NOT NULL,
	[isBooked] [bit] NULL,
	[isSaved] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CarProduct]    Script Date: 9/10/2018 2:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CarProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Company] [varchar](30) NULL,
	[Model] [varchar](30) NULL,
	[CarNumber] [varchar](30) NULL,
	[Price] [int] NOT NULL,
	[isBooked] [bit] NULL DEFAULT ((0)),
	[isSaved] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HotelProduct]    Script Date: 9/10/2018 2:15:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HotelProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromDate] [varchar](10) NOT NULL,
	[ToDate] [varchar](10) NOT NULL,
	[City] [varchar](20) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[LandMark] [varchar](20) NOT NULL,
	[Price] [int] NOT NULL,
	[isBooked] [bit] NULL DEFAULT ((0)),
	[isSaved] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[AirProduct] ADD  DEFAULT ((0)) FOR [isBooked]
GO
ALTER TABLE [dbo].[AirProduct] ADD  DEFAULT ((0)) FOR [isSaved]
GO
USE [master]
GO
