
@{
    ViewBag.Title = "AvailableProductsNormalUser";
}

<h2>AvailableProductsNormalUser</h2>

@Html.ActionLink("Activity", "GetActivityProducts", "Activity") |
@Html.ActionLink("Air", "GetAirProducts","Air") |
@Html.ActionLink("Car", "GetCarProducts","Car") |
@Html.ActionLink("Hotel", "GetHotelProducts", "Hotel") 
