
@{
    ViewBag.Title = "FirstPage";
}

<h2>FirstPage</h2>

<h3>@Html.ActionLink("Admin", "AvailableProductsAdminUser" ) </h3>
<br/>
<h3>@Html.ActionLink("Normal", "AvailableProductsNormalUser") </h3>

