
@{
    ViewBag.Title = "FirstPage";
}

<h2>FirstPage</h2>

<h3>@Html.ActionLink("Admin", "AvailableProductsAdminUser" ) </h3>
<br/>
<h3>@Html.ActionLink("Normal", "AvailableProductsNormalUser") </h3>

<p>Discounts are provided for each products-----</p>
<p>Hotel Product:  10% </p>
<p>Air Product:  30%</p>
<p>Car Product:  20%</p>
<p>Activity Product: 60%</p>