
@{
    ViewBag.Title = "AvailableProductsAdminUser";
}

<h2>AvailableProductsAdminUser</h2>

@Html.ActionLink("Activity", "AddActivityProduct", "Activity") |
@Html.ActionLink("Air", "AddAirProduct", "Air") |
@Html.ActionLink("Car", "AddCarProduct", "Car") |
@Html.ActionLink("Hotel", "AddHotelProduct", "Hotel") 

